@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Elsie&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quintessential&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html a {
  text-decoration: none;
}

:root {
  --margin-inline-4k: 15vw;
  --margin-inline-laptop: 10vw;

  --paragraph-font-mobile: 0.95rem;
  --paragraph-line-height-mobile: 1.05rem;
  --paragraph-font-tablet: 1.05rem;
  --paragraph-font-laptop: 1rem;
  --paragraph-font-4k: 1.25vw;
  --paragraph-line-height-tablet: 1.35rem;
  --paragraph-line-height-4k: 1.6vw;

  --h1-font-mobile: 2.5rem;
  --h1-font-tablet: 3.6rem;
  --h1-font-laptop: 5.45vw;
  --h1-font-4k: 5.25vw;

  --h2-font-mobile: 1.6rem;
  --h2-font-tablet: 2rem;
  --h2-font-laptop: 2.6rem;
  --h2-font-4k: 3.2vw;

  --h3-font-mobile: 1.2rem;
  --h3-font-tablet: 1.4rem;
  --h3-font-laptop: 1.5rem;
  --h3-font-4k: 1.75vw;

  --h4-font-mobile: 0.7rem;
  --h4-font-tablet: 0.8rem;
  --h4-font-laptop: 1.1rem;
  --h4-font-4k: 1.3vw;

  --h5-font-mobile: 0.6rem;
  --h5-font-tablet: 0.7rem;
  --h5-font-laptop: 0.85rem;
  --h5-font-4k: 0.97vw;

  --toastify-icon-color-success: #053527 !important;
  /* for nav */
  --main-cream-dark-600: #bb9c71;
  /* for home page light cream  */
  --main-cream-light-200: #fdecd8;
  --main-light-grey: #707070;
  /* text  */
  --main-cream-light: #fdecd8;
  --main-green-dark: #3f543f;

  --main-green-light: #637263;
  --main-white-light: #fefefa;
  --main-red-dark: #bb9c71;
  --main-secondary-font: "Josefin Sans", sans-serif;
  --main-primary-font: "Josefin Sans", sans-serif;
  /* color: #1e1e1e; */
  --joy-palette-primary-100: #fefefe !important;
  --joy-palette-primary-600: #637263 !important;
}
