.nav_main {
  height: 15vh;
  padding-inline: 10vw;
  display: flex;
  justify-content: space-between;
  background-color: var(--main-green-light);
}
.nav_main img {
  cursor: pointer;
}

.nav_main button {
  cursor: pointer;
}
.logo {
  /* border: 1px solid white; */
  display: grid;
  place-items: center;
  /* color: white !important; */
}
.logo svg {
  height: 45px;
  width: 100px;
}

.nav {
  color: var(--main-white-light) !important;
  font-family: var(--main-secondary-font);
  display: flex;
  gap: 2vw;
  align-items: center;
  justify-content: space-between;
}
.nav p {
  color: var(--main-white-light);
  cursor: pointer;
}
.nav a {
  color: var(--main-white-light);
}

.nav svg {
  height: 20px;
  width: 20px;
  font-size: 1.2rem;
}

.cart_btn {
  position: relative;
}

.cart_btn span {
  height: 17px;
  width: 17px;
  position: absolute;
  top: -8px;
  right: -8px;
  border-radius: 50%;
  background-color: var(--main-green-light);
  color: var(--main-cream-light);
  display: grid;
  place-items: center;
}

.search {
  position: relative;
}
.search input {
  height: 28px;
  width: 130px;
  border: none;
  border-radius: 5px;
  padding-left: 28px;
  background-color: var(--main-cream-light);
  color: transparent;
}

.search img {
  height: 13px;
  width: 13px;
  position: absolute;
  top: 6.5px;
  left: 7px;
}
.close_modal {
  display: none;
}
